/* --------------------------- */
/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

/* --------------------------- */
/* COMMON */

body {
  /* Shape */
  height: 100vh;
  /* Font */
  font-family: sans-serif;
  font-weight: 300;
  /* Color */
  background-color: darkgray;
}

header {
  /* Shape */
  height: 70px;
  /* Color */
  background-color: black;
}

main {
  /* Shape */
  height: calc(100vh - 70px);
  padding: 25px 0;
  /* Overflow */
  overflow-y: auto;
}

.container {
  /* Shape */
  max-width: 990px;
  height: 100%;
  margin: auto;
  padding: 10px;
}

.flex {
  /* Shape */
  height: 100%;
  /* Display */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* --------------------------- */
/* HEADER */

.header-logo {
  /* Color */
  color: white;
  /* Font */
  text-transform: uppercase;
}
.header-search-function button,
#header-search {
  /* Shape */
  padding: 5px 10px;
  /* Style */
  outline: none;
  border-radius: 5px;
  border: 1px solid white;
  /* Color */
  background-color: black;
  color: white;
}

.header-search-function button:active {
  /* Color */
  background-color: white;
  color: black;
}

/* --------------------------- */
/* MAIN */

.search-results {
  /* Shape */
  height: 100%;
}

.search-results .flex {
  /* Display */
  flex-wrap: wrap;
  align-items: stretch;
}

.search-results li {
  /* Shape */
  width: 25%;
  padding: 10px;
}

.search-results .search-item {
  /* Shape */
  height: 250px;
  padding: 25px;
  /* Stlye */
  border: 1px solid black;
  border-radius: 5px;
  /* Color */
  background-color: black;
  color: white;
}
