/* --------------------------- */
/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

/* --------------------------- */
/* COMMON */

body {
  /* Shape */
  height: 100vh;
  /* Font */
  font-family: sans-serif;
  font-weight: 300;
  /* Color */
  background-color: #141414;
}

header {
  /* Shape */
  height: 100px;
  /* Color */
  background-color: #141414;
  /* Shadow */
  box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.5);
  /* Z-Index */
  z-index: 1;
}

main {
  /* Shape */
  height: calc(100vh - 100px);
  padding-bottom: 50px;
  /* Overflow */
  overflow-y: auto;
}

.container {
  /* Shape */
  max-width: 990px;
  height: 100%;
  margin: auto;
  padding: 10px;
}

.flex {
  /* Shape */
  height: 100%;
  /* Display */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* --------------------------- */
/* HEADER */

.header-logo img {
  /* Shape */
  height: 40px;
}

.header-search-function button {
  /* Shape */
  padding: 10px;
  margin-right: 10px;
  /* Style */
  outline: none;
  border: none;
  /* Color */
  background-color: transparent;
  color: #fff;
}

#header-search {
  /* Shape */
  padding: 10px;
  /* Style */
  outline: none;
  border: none;
  /* Color */
  background-color: transparent;
  color: #fff;
}

#header-search:focus {
  background-color: #fff;
  color: #141414;
}

#header-search::placeholder {
  /* Color */
  color: #fff;
}

.header-search-function button:active {
  /* Color */
  color: #141414;
}

/* --------------------------- */
/* MAIN */

.search-results {
  /* Shape */
  height: 100%;
}

.search-results .flex {
  /* Display */
  flex-wrap: wrap;
  align-items: stretch;
}

.search-results h2 {
  /* Padding */
  padding: 20px 0;
  /* Font */
  font-size: 16px;
  font-weight: 500;
  /* Color */
  color: #fff;
}

.search-results .flex > li {
  /* Shape */
  width: 20%;
  height: 18em;
  margin-bottom: 30px;
  /* Position */
  position: relative;
}

.search-results .item-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.search-results .item-cover .noImage img {
  width: 100%;
}

.search-results .item-cover .noImage .noImage-title {
  /* Position */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  /* Font */
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}

.search-results li:hover .item-cover {
  display: none;
}

.search-results .search-item {
  /* Shape */
  height: 100%;
  padding: 25px;
  /* Color */
  background-color: #141414;
  color: white;
  /* Font */
  font-size: 12px;
}

.search-results .item-info-title {
  /* Font */
  font-weight: 700;
  text-transform: uppercase;
}

.search-results .vote .fas {
  /* Color */
  color: rgb(255, 238, 0);
}

.search-results .search-item .item-language {
  /* Display */
  display: flex;
  /* Shape */
  width: 16px;
}

.search-results .search-item .item-language img {
  /* Padding */
  margin-left: 10px;
}
