<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Boolflix</title>

    <!-- Link Custom CSS -->
    <link rel="stylesheet" href="css/style.css" />

    <!-- Link Fontawesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />

    <!-- Link Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <!-- Link Axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
  </head>
  <body>
    <!-- Vue.js -->
    <div id="root">
      <!-- Header -->
      <header>
        <div class="container">
          <div class="flex">
            <div class="header-logo">
              <img src="img/boolflix_logo.svg" alt="Boolflix Logo" />
            </div>
            <div class="header-search-function">
              <button @click="search"><i class="fas fa-search"></i></button>
              <span>
                <label for="header-search"></label>
                <input
                  id="header-search"
                  type="text"
                  v-model="searchInput"
                  @keyup.enter="search"
                  placeholder="Search.."
                />
              </span>
            </div>
          </div>
        </div>
      </header>
      <!-- End Header -->

      <!-- Main -->
      <main>
        <div class="container">
          <div class="flex">
            <div class="search-results">
              <h2 v-if="searchOutput.length >= 1">
                {{searchOutput.length}} Risultati trovati
              </h2>
              <ul class="flex" v-if="searchOutput.length >= 1">
                <li v-for="(item, index) in searchOutput">
                  <div class="item-cover">
                    <img
                      v-if="item.poster_path != null"
                      :src="'https://image.tmdb.org/t/p/w342/' + item.poster_path"
                      :alt="item.title"
                    />
                    <div class="noImage" v-else>
                      <img
                        src="img/boolflix_noImage-01-01.jpg"
                        alt="No Image Available"
                      />
                      <div class="noImage-title">
                        {{item.title || item.name}}
                      </div>
                    </div>
                  </div>
                  <ul class="search-item">
                    <li>
                      <span class="item-info-title">Titolo: </span>{{item.title
                      || item.name}}
                    </li>
                    <li
                      v-if="item.title != item.original_title || item.name != item.original_name"
                    >
                      <span class="item-info-title">Titolo originale: </span
                      >{{item.original_title || item.original_name}}
                    </li>
                    <li class="item-language">
                      <span class="item-info-title">Lingua: </span>
                      <img
                        :src="'img/16x16/' + item.original_language + '.png'"
                        :alt="item.original_language"
                      />
                    </li>
                    <li>
                      <span class="vote">
                        <i
                          class="fa-star"
                          :class="{far : item.vote_average / 2 <= 0, fas : item.vote_average / 2 > 0}"
                        ></i>
                        <i
                          class="fa-star"
                          :class="{far : item.vote_average / 2 <= 1, fas : item.vote_average / 2 > 1}"
                        ></i>
                        <i
                          class="fa-star"
                          :class="{far : item.vote_average / 2 <= 2, fas : item.vote_average / 2 > 2}"
                        ></i>
                        <i
                          class="fa-star"
                          :class="{far : item.vote_average / 2 <= 3, fas : item.vote_average / 2 > 3}"
                        ></i>
                        <i
                          class="fa-star"
                          :class="{far : item.vote_average / 2 <= 4, fas : item.vote_average / 2 > 4}"
                        ></i>
                      </span>

                      {{item.vote_average}}
                    </li>
                    <li>
                      <span class="item-info-title">Overview: </span>
                      {{overviewItemSlice(index)}}
                    </li>
                  </ul>
                </li>
              </ul>
              <h2 v-else>{{searchNoResult}}</h2>
            </div>
          </div>
        </div>
      </main>
      <!-- End Main -->
    </div>
    <!-- End Vue.js -->

    <!-- Link Custom JS -->
    <script src="js/script.js"></script>
  </body>
</html>
